/* 
Using the pallet (???)
https://www.colourlovers.com/palette/629637/()
*/
#title{
    color: #FE4365;
    background-color: #FC9D9A;
    text-align: center;
    font-size: 2em;
}

#motto{
    color: #FC9D9A;
    background-color: #F9CDAD;
    text-align: center;
    font-size: 18px;
}

body{
    background-color: #C8C8A9;
}

